.countryInput,
.cityInput{
	border: none;
	background-color: #F5F5F5;
}
.countryInput:hover,
.cityInput:hover{
	background: #BEBEBE; /* Цвет фона */
	border: 1px solid #9C9C9C; /* Параметры рамки */
	transform: matrix(1.2, 0, -0.2, 1.2, 10, 0);
	font-weight: bold;
}

.CountriesComponent{
	width: 15%;
	height: 637px;
	outline: 1px solid #DCDCDC;
	display: flex;
	flex-direction: column;
	background-color: #F5F5F5;
}

.countryList,
.cityList {
	overflow-y: auto;
	height: 616px;
}