.cardArray{
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    max-height: 637px;
}
.cityCard{
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
    width: 90%;
    background-color: #F5F5F5;
    overflow: hidden;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
}

@keyframes scaleCard{
    0%,100% {
        transform:  scale(1);

    }
    100% {
        transform: scale(1.01);

    }
}

.cityCard:hover{
    margin: 12px;
    animation: scaleCard 0.1s 1 ease-in-out ;
    background-color: #CFCFCF;
    border-color: #808080;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cityCard-header{
    display: flex;
    /*flex-direction: row;*/
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    /*outline: 1px solid #DCDCDC;*/
}

.cityCard-header-logo{
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cityCard-header-logo img{
    align-items: center;
    justify-content: center;
}

.cityCard-header-closeButton{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cityCard-header-closeButton-img:hover,
.cityCard-header-logo img:hover{
    transform: scale(1.2);
}

@keyframes rotateCloseButton{
    0%,100% {
        transform:  rotate(0deg) scale(1.1);
    }
    50% {
        transform: rotate(180deg) scale(0.9);
    }
}

.cityCard-header-closeButton-img:hover{
    animation: rotateCloseButton 3s infinite ease-in-out;
    transform: scale(1.15);
}

.weatherInfo{
    /*outline: 1px solid #DCDCDC;*/
    display: flex;
}

.weatherInfo-inform{
    display: flex;
    flex-direction: row;
}

.weatherInfo-inform-param {
    flex-direction: column;
    width: 100%;
}

.weatherInfo-inform-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.weatherInfo-inform-data-info{
    /*outline: 1px solid #DCDCDC;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.weatherInfo-inform-data ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.weatherInfo-inform-data-info-param{
    display: flex;
}

.weatherInfo-inform-data-info-param section{
    text-align: left;
    align-items: stretch;
}

.weatherInfo-inform-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulseImg{
    0% {
        transform:  scale(1);
    }
    25% {
        transform: scale(1.15);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.weatherInfo-inform-img img,
.cityCard-header-logo img:hover{
    animation: pulseImg 5s infinite linear;
}

/*.weatherInfo-inform-img img:hover{
    transform: scale(1.2);
}*/

.weatherInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*outline: 1px solid #DCDCDC;*/
}

.cityCard *{
}

.hidden {
    display: none;
}

.open {
    display: inline;
}